/* homework_4 */

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }

  .main-menu-list a {
    font-size: 24px;
    line-height: 30px;
  }

  .slogan h1 {
    font-size: 40px;
    line-height: 62px;
  }

  .gallery-item {
    flex-direction: column;
  }

  .gallery-item:nth-child(2) {
    flex-direction: column-reverse;
  }
  .gallery-item img {
    width: 100%;
  }
  iframe {
    width: 100%;
  }
}
@media (max-width: 425px) {
  h2 {
    font-size: 26px;
    line-height: 30px;
  }
  
  h3 {
    font-size: 20px;
    line-height: 25px;
  }

  .page-header {
    flex-direction: column;
    align-items: center;
  }
  
  .page-header img {
    width: 55px;
    margin-bottom: 5px;
  }

  .main-menu {
    width: 100%;
  }

  .main-menu-list {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .main-menu-list li {    
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
  }

  .main-menu-list a {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    padding: 10px 18px;
  }

  .wrapper {
    flex-direction: column;
  }

  .marketing {
    width: 100%;  
  }

  .marketing p {
    font-size: 3vw;
  }

  .about-wether-graph figcaption {
    font-size: 12px;
    line-height: 23px;
  }
  .transfer{
    margin:0;
    width: 100%;
  }
  /*таблица в столбик*/
  .transfer thead {
    display: none;
  }

  .transfer tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .transfer td {
    margin: 0 -1px -1px 0;
    padding: 0;
    width: 45%;	
  }

  .transfer span {
    display: block;
    background-color: rgba(0, 38, 163, 0.336);
    color: dimgray;  
    font-size: 10px;
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
  }


  .page-footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-social {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}