@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cormorant:wght@400;700&family=Herr+Von+Muellerhoff&display=swap');
@font-face {
    font-family: "Nueva";
    src: url("font/Miama\ Nueva.ttf")
           
   }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c4c7e2;
}

.wrapper{
    background-color: #c4c7e2;
    margin: 0 auto;
    display: flex;
    max-width: 1600px;
    height: 100vh;
    justify-content: space-evenly;
}
.bg{
position: relative;
    width: 70%;
    margin :auto 0;
    padding: 0 20px;
    background: linear-gradient(#ffffff, #b3adec);
    box-shadow: -1px -1px 64px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1{
   font-family: 'Cormorant', serif;
   font-size: 180px;
   color: #b3adec59;
   line-height: 180px;
}
hr{
    margin: 0 auto;
    width: 15%;
    margin-top: 3%;
    border-color:#b3adec59 ;
}
.slogan{
    width: 100%;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 80px;
    line-height: 80px;
    color: #37316ae6;
    text-align: center;
    position: absolute;
    top: 13%;
    left: 0;
    
}

.expensive{
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-size: 20px;

}

.name{
    font-family: 'Nueva';
    font-size: 4vw;;
    margin-bottom: 20px;
    color: #37316ae6;
}

.desc {
    
    font-family: 'Cormorant', serif;
    font-weight: 400;
    font-size: 20px;
    color: #37316ae6;

}
.minimum{
    margin: 2% auto;
  width: 80%;
}
span{
    font-size: 5vw;
    margin-bottom: 20px;
    color: #37316ae6;
}

img{
    width: 100px;
    color: #37316ae6;
}
.container{
display: flex;
justify-content: space-evenly;
margin-top: 2%

}
.footer{
    margin-top:10px;
    margin-bottom: 15px;
}

@media (max-width: 900px) { 
    .wrapper{
        width: 100%;
        flex-direction: column;
        

    }
    .bg{
        margin: 10px auto;
       width:  90%;
    }

 }
 
@media (max-width: 600px) { 
    
    h1{
        font-size: 25vw;
    }
    .slogan{
       font-size: 10vw;
        

    }
   

 }

 @media (max-width: 462px) { 
    
   
    .container{

    flex-direction: column;
    }
    .pigeon{
        display: none;
    }


 }