@import url(https://allfont.ru/allfont.css?fonts=courier-new);

@font-face {
    font-family: "monotypecorsiva";
    src: url("fonts/monotypecorsiva.ttf");
}

@font-face {
    font-family: "mistral";
    src: url("fonts/7fonts.ru_mistral.ttf")
}

@font-face {
    font-family: "segoescript";
    src: url("fonts/segoescript.ttf");

}

@font-face {
    font-family: "Courier New";
    src: url("fonts/courier-new_[allfont.ru].ttf");

}

@font-face {
    font-family: "centurygothic";
    src: url("fonts/centurygothic.ttf");

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(#fff, rgb(69 28 101 / 34%));
}

.container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}


.content {
    box-shadow: 0px 0px 60px rgb(139, 164, 194);

    width: 594px;
    height: 858px;

}


.main {
    font-family: 'monotypecorsiva';
    font-size: 36px;
    padding-top: 100px;
    margin-left: 55px;
    margin-bottom: 30px;
    font-weight: 100;
    color: rgb(90 37 130 / 80%);
}

.name {
    font-family: 'segoescript', cursive;
    font-size: 48px;
    font-weight: 100;
    margin-left: 110px;
    margin-bottom: 30px;
    color: rgb(90 37 130 / 80%);
}

.name span {
    margin-left: 70px;
}

.desc {
    font-family: 'monotypecorsiva';
    font-size: 22px;
    margin-left: 25px;
    margin-bottom: 60px;
    line-height: 44px;
    color: rgb(90 37 130 / 80%);
}

.desc span {
    margin-left: 120px;
}

.date {
    font-family: 'monotypecorsiva';
    font-size: 30px;
    text-align: center;
    margin-bottom: 140px;
    line-height: 60px;
    letter-spacing: 10px;
    color: rgb(90 37 130 / 80%);

}

.date span {
    font-size: 60px;
}

.meeteng {
    font-family: 'mistral';
    font-size: 20px;
    text-align: end;
    margin-right: 50px;
    color: rgb(90 37 130 / 80%);
}

.bg1 {
    background: url(img/bg1.png) center/cover no-repeat;
}

.bg2 {
    background: url(img/bg2.png) center/cover no-repeat;
}


.dress_code {
    padding-top: 120px;
    text-align: center;
    margin-left: 170px;
    font-family: 'segoescript';
    font-size: 36px;
    font-weight: 100;
    color: rgb(90 37 130 / 80%);

}

.happy {
    margin-left: 70px;
    margin-top: 30px;
    font-family: 'Courier New';
    font-size: 18px;
    font-weight: 100;
    color: rgb(90 37 130 / 80%);
    line-height: 36px;
}

.happy span {
    margin-left: 60px;

}


.color_content {
    display: flex;
    width: 500px;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 17px;
}

.color {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.color1 {
    background-color: #172C49);
}

.color2 {
    background-color: #406196;
}

.color3 {
    background-color: #748DB5;
}

.color4 {
    background-color: #9FC3E7;
}

.color5 {
    background-color: #C3D8F5;
}

.color6 {
    background-color: #5E5D7F;
}

.color7 {
    background-color: #9988BE;
}

.color8 {
    background-color: #B9AED8;
}

.color9 {
    background-color: #C0A3CF;
}

.color10 {
    background-color: #3A845F;
}

.color11{
    background-color: #469788;
}

.color12 {
    background-color: #A0C46C;
}


.present{
    margin-top: 17px;
    text-align: center;
    font-family: 'segoescript';
    font-size: 20px;
    font-weight: 100;
    color: rgb(90 37 130 / 80%);
}

.desc_present{
    width: 500px;
    font-family: 'centurygothic';
    font-size: 18px;
    color: rgb(90 37 130 / 80%);
    text-align: left;
    margin-left: 30px;
    margin-top: 15px;
}
.icons{
    display: flex;
    text-align: center;



}
.icons .icons_left img, .icons .icons_right img{
    margin-top: 50px;
    width: 70px;
    height: 70px;
}
.icons_right{
    margin-left: 50px;
}

.icons_left{
    margin-left: 10px;
}

.icons_desc{
    font-family: 'mistral';
    font-size: 12px;
    text-align: center;
    color: rgb(90 37 130 / 80%);

}
.desc_footer{
    margin-top: 30px;
    margin-left: 100px;
    width: 400px;
font-family: 'monotypecorsiva';
    font-size: 20px;
    margin-bottom: 140px;
    letter-spacing: 5px;
    color: rgb(90 37 130 / 80%);

}

.desc_footer span{
    font-size: 25px;
}

@media (max-width: 1200px) {

    body {
        height: 1800px;
    }

    .container {
        display: block;
        width: 594px;
        margin: 0 auto;

    }

    .content {
        margin-top: 30px;
    }



}


@media (max-width: 635px) {

    body {
        height: fit-content;

    }

    .container {
        display: block;
        width: fit-content;
        padding: 0 30px
    }

    .content {
        margin-top: 30px;
        margin-bottom: 30px;




    }